body {
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.4;
    background: hwb(0 95% 5%);
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-weight: 300;
    display: flex;
    flex-direction: column;
    /* height: 100vh; */
    margin-left: 1;
}

h1 {
    color: rgb(40, 0, 0);
    font-size: x-large;
    margin-bottom: 0;
}

ul {
    font-size: medium;
    list-style-type: none;
    padding: 0;
}

a:link {
    color: rgb(18, 24, 77);
}

a:visited {
    color: rgb(18, 38, 104);
}

a:hover {
    color: rgb(9, 19, 111);
}


/* Responsive styles for screens smaller than 600px */
@media only screen and (max-width: 600px) {
    body {
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        height: 98vh;
        width: 98vw;
        margin: 0;
        padding: 1%;
    }

    .container {
        display: flex;
        flex-direction: column-reverse;
        align-items: flex-end;
    }

    h1 {
        font-size: large;
    }

    ul {
        font-size: large;
        padding-inline-start: 0;
        text-align: right;
    }
}